<div th:fragment="inquiryModal(inquiry)">
    <div class="modal fade" id="inquiryModal" tabindex="-1" aria-labelledby="inquiryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inquiryModalLabel">문의 상세</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="inquiryContent" class="form-label">문의 내용</label>
                            <textarea class="form-control" id="inquiryContent" rows="3" >여기에 문의 내용이 표시됩니다.</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="inquiryResponse" class="form-label">응답</label>
                            <textarea class="form-control" id="inquiryResponse" rows="3" placeholder="여기에 응답을 작성하세요."></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary">저장</button>
                </div>
            </div>
        </div>
    </div>
</div>
