<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<!-- jQuery 라이브러리 스크립트 -->
<script th:src="@{/sb-admin/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap 번들 스크립트 (Bootstrap의 JavaScript 플러그인 포함) -->
<script th:src="@{/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- jQuery Easing 플러그인 스크립트 (부드러운 애니메이션 효과를 위해 사용) -->
<script th:src="@{/sb-admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- SB Admin 2 테마의 커스텀 JavaScript 파일 -->
<script th:src="@{/sb-admin/js/sb-admin-2.min.js}"></script>
</body>
</html>