<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CODE NEAR - 유저 정보</title>

    <!-- 템플릿용 사용자 정의 폰트 -->
    <link th:href="@{/sb-admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- 템플릿용 사용자 정의 스타일 -->
    <link th:href="@{/sb-admin/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body id='page-top'>

<!-- 페이지 래퍼 -->
<div id='wrapper'>

    <!-- 사이드바 -->
    <th:block th:replace="~{fragments/sidebar :: sidebar}"></th:block>

    <!-- 콘텐츠 래퍼 -->
    <div id='content-wrapper' class='d-flex flex-column'>

        <!-- 메인 콘텐츠 -->
        <div id='content'>

            <!-- 페이지 콘텐츠 시작 -->
            <div class='container-fluid'>

                <!-- 페이지 제목 -->
                <h1 class='h3 mb-4 text-gray-800'>유저 정보</h1>

                <!-- 유저 정보 테이블 -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">유저 목록</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>이름</th>
                                    <th>이메일</th>
                                    <th>전화번호</th>
                                    <th>닉네임</th>
                                    <th>등급</th>
                                    <th>가입 출처</th>
                                    <th>포인트</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- 유저 데이터 행 -->
                                <tr th:each="member : ${members}">
                                    <td th:text="${member.id}">1</td>
                                    <td th:text="${member.username}">홍길동</td>
                                    <td th:text="${member.email}">hong@example.com</td>
                                    <td th:text="${member.phoneNumber}">010-1234-5678</td>
                                    <td th:text="${member.nickname}">길동이</td>
                                    <td th:text="${member.grade}">VIP</td>
                                    <td th:text="${member.platform}">웹사이트</td>
                                    <td th:text="${member.point.getPoint()}">1000</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- 푸터 -->
        ...

    </div>

</div>

<!-- 맨 위로 스크롤 버튼 -->
<a class='scroll-to-top rounded' href='#page-top'>
    <i class='fas fa-angle-up'></i>
</a>

<!-- 스크립트 포함 -->
<th:block th:replace="~{fragments/scripts :: body}"></th:block>

</body>

</html>