<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CODE NEAR</title>

    <!-- 템플릿용 사용자 정의 폰트 -->
    <link th:href="@{/sb-admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- 템플릿용 사용자 정의 스타일 -->
    <link th:href="@{/sb-admin/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body id="page-top">

<!-- 페이지 래퍼 -->
<div id="wrapper">

    <!-- 사이드바 -->
    <th:block th:replace="~{fragments/sidebar :: sidebar}"></th:block>

    <!-- 콘텐츠 래퍼 -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- 메인 콘텐츠 -->
        <div id="content">

            <!-- 상단바 -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- 사이드바 토글 (상단바) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i className='fa fa-bars'></i>
                </button>
            </nav>

            <!-- 페이지 콘텐츠 시작 -->
            <div className='container-fluid'>

                <!-- 페이지 제목 -->
                <h1 className='h3 mb-4 text-gray-800'>대시보드</h1>

                <!-- 대시보드 콘텐츠 위치 -->

            </div>
        </div>
    </div>
</div>

<!-- 맨 위로 스크롤 버튼 -->
<a class='scroll-to-top rounded' href='#page-top'>
    <i class='fas fa-angle-up'></i>
</a>

<!-- 스크립트 포함 -->
<th:block th:replace="~{fragments/scripts :: body}"></th:block>

</body>
</html>